result/
result
demo-sim-result/
verdiLog/
vcs-emu-journal.log

novas.rc
novas.conf
.Xil/
.cxl*
xar.prj
compile.prj
synopsys_sim.setup

vivado.jou
vivado.log
compile_simlib.log
cxl_error.log
vivado_*
simlib_dir/
vivado_prj/

